<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Welcome <%= username %>
    </h2>
    <br>
    <br>
    <h5>Upload files</h5>
    <input type="file" id="file-input">
    <button id="upload-btn">Upload</button>
    <script>
        const uploadBtn = document.getElementById("upload-btn");
        const fileInput = document.getElementById("file-input");
        uploadBtn.addEventListener("click", async () => {
            const file = fileInput.files[0];
            if (!file) {
                alert("Please select a file to upload.");
                return;
            }

            const formData = new FormData();
            formData.append("file", file);
            const response = await fetch("/uploadfile", {
                method: "POST",
                body: formData
            })
            if (response.ok) {
                alert("file uploaded succesfully")
            }
            else {
                alert("error in file uploading")
            }
        })
    </script>
</body>

</html>